body{
    text-align: justify;
    margin: auto;
    background-color: darkturquoise;
}
h2 {
    background-color: aquamarine;
    color: azure;
    text-align: center;
}
p.Parrafo0{
    text-transform: capitalize;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: red 6px 8px 7px;

}

p.balón {
    text-align: auto;
    color: crimson;
    word-spacing: 10px;
}
p.balón{ 
    text-indent: 25px;
    letter-spacing: 10px;
}
p.billi{
    text-decoration: underline;
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
span.bobo {
    color: black;
    text-decoration: line-through;
}
span.cojo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font: bold;
}
img{
    margin: 50px;
}