*{
    background-color: aquamarine;
}

h1 {
    color: blue;
    background-color: gray;
}

p.fondorojo {
    background-color: red;
}

p#unicoensucolor {
    background-color: blanchedalmond;
}
footer {
    margin: 2px;
    padding: 5px;
    border-color: snow;
    border-top: black 5px dashed;
    border-left: blue 5px dashed;
    border-right: red 5px dotted;
    border-bottom: firebrick 5px solid;
    border-width: 15px;
}

div {
    border: red 3px solid; 
    margin: 10px;
    padding: 10px;
}
footer p{
    color:lime;
}
p {
border: silver 10px solid;
margin: 10px;
}
blockquote {
    padding: 3px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
}