*{
    background-color: aquamarine;
}

h1 {
    color: blue;
    background-color: gray;
}

p.fondorojo {
    background-color: red;
}

p#unicoensucolor {
    background-color: blanchedalmond;
}
footer {
    margin: 7px;
    padding: 10px;
    border-color: snow;
    border-style: dashed;
    border-width: 15px;

}

div {
    border: red 3px solid; 
    margin: 10px;
    padding: 10px;
}
footer p{
    color:lime;
}
