body{






}

h2 {
    color: forestgreen;
    background-color: greenyellow;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    text-align: center;
    color: blue;
    background-color: aquamarine;
    padding-right: 20px;
    width: 5px;

}
*{
    background-color: deepskyblue;

}
